<!DOCTYPE html>
<html>

<head>
  <title>Racebike666</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>


  <h1 class="cheadline">Contact</h1>
  <div class="opening contact">
    <p>Please don't hesitat to contact me if you have any questions!</p>
    <p>If you seek any information about Racebike666, which cannot be found on this website<br> please use this e-mail:
    </p>
  </div>

  <div class="mail contact">
    <a href="mailto:reinhard.waibel@students.ebs.edu"><span class="glyphicon glyphicon glyphicon-envelope"></span>reinhard.waibel@Student.Ebs.Edu</a>
  </div>

  <div class="address" "contact">
    <p>	<span class="glyphicon glyphicon glyphicon-map-marker contact"><strong>Address</strong> <br>
    Fantasystr.69<br>
    65375 Oestrich-Winkel<br>
    0049190666666
    </p>
  </div>
  <div class="greeting contact">
    <p>I am looking forward to hearing from you!
    </p>
  </div>
</div>
