<h1>Welcome to Racebike666</h1>
<h2>The new revolution in everyday race bikes</h2>
<p>Welcome! The date and time is <%= Time.now %></p>
<%= image_tag("racebike.jpg", class: "img-responsive my-image") %>
