h1 {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

body{
  padding-top: 30px;
  background-image: url("backg.jpg");
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.contact{
	padding-left: 3rem;
	padding-top: 1rem;
	font-size: 1.75em;
	font-weight: 100;
	-webkit-margin-before: 0;
}

.cheadline{
	padding-left: 3rem;
	padding-top: 1rem;
}


.nav {
  z-index: 1;
}
.nav ul {
 margin: 0;
 padding: 5px;
 list-style-type: none;
 text-align: left;
 background-color: #000;
 text-transform: uppercase;
 }

.nav ul li {
 display: inline;
 }

.nav ul li a {
 text-decoration: none;
 padding: .2em 1em;
 color: #fff;
 background-color: #000;
 }

.nav ul li a:hover {
 color: #000;
 background-color: #fff;
 }

 .nav {
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0;
 }
